<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RetroGBmApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/gameboyicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gameboyicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetroGBm"
        tools:targetApi="31">
        <activity
            android:name=".OptionsActivity"
            android:exported="false"
            android:label="@string/title_activity_options"
            android:theme="@style/Theme.RetroGBm" />
        <activity
            android:name=".EmulatorActivity"
            android:exported="false"
            android:label="@string/title_activity_emulator"
            android:theme="@style/Theme.RetroGBm" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveStateActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CheatsActivity"
            android:label="@string/app_name" />
    </application>

</manifest>